venv
.idea
__pycache__

data

.envrc
.env

infrastructure/00_nginx_gunicorn/*.conf

docker-compose.env

invitados.csv
attendees_v1.csv
preguntas_sakura.csv

.DS_Store

profile_pics
badges
sakura_qrs

sakura_categories
sakura_front