{% extends 'analytics/base.html' %}
{% block content %}
    <h1 class="title">Attendee Profile</h1>
    <div class="columns">
        <div class="column is-one-third">
            <figure class="image is-256x256">
                {% if attendee.profile_pic %}
                    <img src="{{ attendee.profile_pic.url }}" alt="{{ attendee.name }}">
                {% endif %}
            </figure>
            <div class="columns is-multiline is-centered" style="background: aliceblue">
                {% for badge in profile.badges.all %}
                    <div class="column">
                        <figure class="image is-32x32">
                            <img src="{{ badge.image.url }}" alt="{{ badge.name }}">
                        </figure>
                    </div>

                {% endfor %}
            </div>
        </div>

        <div class="column">
            <p><strong>Name:</strong> {{ attendee.name }}</p>
            <p><strong>Whatsapp:</strong> {{ attendee.phone }}</p>
            <p><strong>Instagram:</strong> {{ attendee.instagram }}</p>
            <p><strong>Vegetarian:</strong> {{ registration.get_vegetarian_display }}</p>
            <p><strong>Alcohol:</strong> {{ registration.get_alcohol_display }}</p>
            <p><strong>Weed:</strong> {{ registration.get_weed_display }}</p>
            <p><strong>Entry Hour:</strong> {{ registration.entry_hour|date:"D h a" }}</p>
            <p><strong>Exit Hour:</strong> {{ registration.exit_hour|date:"D h a" }}</p>
            <a href="https://wa.me/{{ attendee.phone|cut:" "|cut:"("|cut:")"|cut:"-"}}?text=Hola%20Ingresa%20a%20la%20aplicacion%20{{ app_url }}">
                <button>Send Token</button>
            </a>
        </div>
        <div class="column is-one-third theme-light">
            <figure class="image is-256x256">
                    {{ qr }}
            </figure>
        </div>
    </div>
    <h2>Following {{ following|length }}/{{ total_active_profiles }}</h2>
    <div class="grid">
        {% for connection in following %}
            <div class="cell">
                {% if connection.followed.attendee.profile_pic %}
                <figure class="image is-128x128">
                    <img src="{{ connection.followed.attendee.profile_pic.url }}" alt="{{  connection.followed.attendee.slug }}">
                </figure>
                {% endif %}
                <p>
                    <a href="{% url 'analytics:attendee-profile' connection.followed.attendee.slug %}">
                        {{ connection.followed.attendee.name }}
                    </a>
                </p>
            </div>
        {% endfor %}
    </div>
    <h2>Followers {{ followers|length }}/{{ total_active_profiles }}</h2>
    <div class="grid">
        {% for connection in followers %}
            <div class="cell">
                {% if connection.followed.attendee.profile_pic %}
                <figure class="image is-128x128">
                    <img src="{{ connection.followed.attendee.profile_pic.url }}" alt="{{  connection.followed.attendee.slug }}">
                </figure>
                {% endif %}
                <p>
                    <a href="{% url 'analytics:attendee-profile' connection.followed.attendee.slug %}">
                        {{ connection.followed.attendee.name }}
                    </a>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}