{% extends 'analytics/base.html' %}
{% block title %}
    Posibles asistentes
{% endblock %}
{% block content %}
    <h1 class="title">Possible Attendees</h1>
    <input
          type="text"
          class="input"
          id="myInput"
          onkeyup="myFunction()"
          placeholder="Buscar"
          title="Buscar">
    <table class="table is-fullwidth sortable" id="myTable">
        <thead class="header">
            <tr>
                <th>Name</th>
                <th>Whatsapp</th>
                <th>Instagram</th>
                <th>Profile Pic</th>
            </tr>
        </thead>
        <tbody>
            {% for attendee in possible_attendees %}
                <tr>
                    <td>
                        <a href="{% url 'analytics:attendee-profile' attendee.slug %}">
                            {{ attendee.name }}
                        </a>
                    </td>
                    <td>{{ attendee.phone }}</td>
                    <td>{{ attendee.instagram }}</td>
                    <td>
                        <figure class="image is-128x128">
                            {% if attendee.profile_pic %}
                                <img src="{{ attendee.profile_pic.url }}" alt="{{ attendee.name }}">
                            {% endif %}
                        </figure>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    <script language="javascript">
        const myFunction = () => {
          const trs = document.querySelectorAll('#myTable tr:not(.header)')
          const filter = document.querySelector('#myInput').value
          const regex = new RegExp(filter, 'i')
          const isFoundInTds = td => regex.test(td.innerHTML)
          const isFound = childrenArr => childrenArr.some(isFoundInTds)
          const setTrStyleDisplay = ({ style, children }) => {
            style.display = isFound([
              ...children // <-- All columns
            ]) ? '' : 'none'
          }

          trs.forEach(setTrStyleDisplay)
        }
    </script>
{% endblock %}